<!DOCTYPE html>
<html>
    <!-- Head -->
<head>
    <title>min Heap Visualization</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

{% macro render_node(node) %}
    <li>
        <a href="#">{{ node.value }}</a>
        {% if node.left or node.right %}
            <ul>
                {% if node.left %}
                    {{ render_node(node.left) }}
                {% else %}
                    <li ><a style="background-color: black;" href="#">__</a></li> <!-- Display NULL for missing left child -->
                {% endif %}
                {% if node.right %}
                    {{ render_node(node.right) }}
                {% else %}
                    <li ><a style="background-color: black;" href="#">__</a></li> <!-- Display NULL for missing right child -->
                {% endif %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<body>
    <!-- ------------------------------------------------------------------- head ------------------------------------------------------------------- -->

    <div class = "root" >  </div>
    <div class="bst-text">Min Heap Visualization
        <form method="POST" onclick="window.location.href='/select_data_structure'">
            <button style="position: relative; position: absolute; top: -10px; right: -200px;" type="submit" name="action" value="Another">Go Back</button>
        </form>
    </div>

    <!-- ------------------------------------------------------------------- tree ------------------------------------------------------------------- -->
    <div class="" id = "blue-div">
        {% block content %}
        <div class="tree" style="margin-bottom: 600px;">
            <ul>
                {{ render_node(bst.root) }}
            </ul>
        </div>
        {% endblock %}
    </div>

    <!-- ------------------------------------------------------------------------- min level ---------------------------------------------------------------------- -->

    <div class="max-level"> </div>
    <!-- ------------------------------------------------------------------- min heap functions ------------------------------------------------------------------- -->

        <div class="bst-functions">
            <p>
            <form class ="array-size" method="POST" action="{{ url_for('min_heap_visualizer') }}">
                <!-- first pop up -->
                {% with messages = get_flashed_messages(category_filter='min_heap_array') %}
                {% if messages %}
                min Heap Array :  
                <p></p>
                <p></p>
                <div class="flash-messages array">
                    {% for message in messages %}
                    <span> {{ message }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </form>
            </p>
            <p></p>
            <p></p>
            <div method="POST" >
                min Heap Functions:
            </div>
            <p></p>
            <p></p>
            <form method="POST" action="{{ url_for('min_heap_visualizer') }}">
                <label for="add-node">Insert(</label>
                <input type="text" id="Insert-node" name="node_value" required autocomplete="off">
                <label for="add-node">)</label>
                <button type="submit" name="action" value="Insert">Insert Node</button>
            </form>
            </p>
            <p>
            <form method="POST" action="{{ url_for('min_heap_visualizer') }}">
                <label for="Delete-node">Delete(</label>
                <input type="text" id="Delete-node" name="node_value" required autocomplete="off">
                <label for="Delete-node">)</label>
                <button type="submit" name="action" value="Delete">Delete Node</button>
            </form>
            </p>

            <p>
                <form method="POST" action="{{ url_for('min_heap_visualizer') }}">
                    <label for="find-parent-node">FindParent(</label>
                    <input type="text" id="find-parent-node" name="node_value" required autocomplete="off">
                    <label for="find-parent-node">)</label>
                    <button type="submit" name="action" value="find-parent">FindParent Node</button>
                </form>
            </p>

            <p>
                <form method="POST" action="{{ url_for('min_heap_visualizer') }}">
                    <label for="FindLeftchild">FindLeftchild(</label>
                    <input type="text" id="FindLeftchild" name="node_value" required autocomplete="off">
                    <label for="FindLeftchild">)</label>
                    <button type="submit" name="action" value="FindLeftchild">FindLeftchild Node</button>
                </form>
            </p>

            <p>
                <form method="POST" action="{{ url_for('min_heap_visualizer') }}">
                    <label for="FindRightchild">FindRightchild(</label>
                    <input type="text" id="FindRightchild" name="node_value" required autocomplete="off">
                    <label for="FindRightchild">)</label>
                    <button type="submit" name="action" value="FindRightchild">FindRightchild Node</button>
                </form>
            </p>

            <!-- second  pop up message box --> 
            
        </div>
        <div class ="inestructions bst-functions"> 
        {% with messages = get_flashed_messages( category_filter='inst') %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        </div>
</body>
    
    
</html>
