<!DOCTYPE html>
<html>
    <!-- Head -->
<head>
    <title>Binary Tree Visualization</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

{% macro render_node(node) %}
    <li>
        <a href="#">{{ node.value }}</a>
        {% if node.left or node.right %}
            <ul>
                {% if node.left %}
                    {{ render_node(node.left) }}
                {% else %}
                    <li ><a style="background-color: black;" href="#">__</a></li> <!-- Display NULL for missing left child -->
                {% endif %}
                {% if node.right %}
                    {{ render_node(node.right) }}
                {% else %}
                    <li ><a style="background-color: black;" href="#">__</a></li> <!-- Display NULL for missing right child -->
                {% endif %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
<!-- ... -->
<body style="transform: scale(0.8); transform-origin: top left;">
    
    <div class="bst-text">
        Binary Search Tree (BST)
        <form method="POST" onclick="window.location.href='/select_data_structure'">
            <button style="position: relative; position: absolute; top: -10px; right: -200px;" type="submit" name="action" value="Another">Go Back</button>
        </form>
    </div>
    <div class="" id="blue-div" >
        {% block content %}
        <div class="tree" style="margin-bottom: 600px;">
            <ul>
                {{ render_node(bst.root) }}
            </ul>
        </div>
        {% endblock %}
    
    </div>
    <div class="bst-functions">
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            bst-functions
            <button type="submit" name="action" value="Original">Show Original</button>
        </form>
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            <label for="add-node">Add(</label>
            <input type="text" id="add-node" name="node_value" required autocomplete="off">
            <label for="add-node">)</label>
            <button type="submit" name="action" value="add">Add Node</button>
        </form>
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            <label for="remove-node">Remove(</label>
            <input type="text" id="remove-node" name="node_value" required autocomplete="off">
            <label for="add-node">)</label>
            <button type="submit" name="action" value="remove">Remove Node</button>
        </form>
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            <label for="Search-node">Search(</label>
            <input type="text" id="Search" name="node_value" required autocomplete="off">
            <label for="Search-node">)</label>
            <button type="submit" name="action" value="Search">Search Node</button>
        </form>
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            <label for="findMin">findMin()</label>
            <button type="submit" name="action" value="find_min">Find Min</button>
            <label for="findMax">findMin()</label>
            <button type="submit" name="action" value="find_Max">Find Max</button>
        </form>
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            <label for="inorderTraverse">inorderTraverse()</label>
            <button type="submit" name="action" value="inorder_traverse">Inorder Traverse</button>
        </form>
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            <label for="preorderTraverse">preorderTraverse()</label>
            <button type="submit" name="action" value="preorder_traverse">Preorder Traverse</button>
        </form>
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            <label for="postorderTraverse">postorderTraverse()</label>
            <button type="submit" name="action" value="postorder_traverse">Postorder Traverse</button>
        </form>

        <!-- pop up message box -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages" style="margin-top: 20px;">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    </div>
    
    <!-- ... -->
</body>
<!-- ... -->

</html>
