 /* CSS styles for the nodes */
 .node {
    width: 40px;
    height: 40px;
    background-color: #FFC107;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 150vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, gray 46.5%, #0000ff 46.5%);
}


.southeast-arrow {
    color: red;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #000000;
    border-bottom: 10px solid #000000;
}
.southwest-arrow {
    color: red;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid #000000;
    border-bottom: 10px solid #000000;
}
/* Center the binary tree diagram */
.center {
    color: blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 50%;
}
.bst-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    font-weight: bold;
    color: white;
}