<!DOCTYPE html>
<html>
    <!-- Head -->
<head>
    <title>Linked List Visualization</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>


<body>
    <!-- ------------------------------------------------------------------- header ------------------------------------------------------------------- -->
    <div class="bst-text">Linked List Visualization</div>
    <div class=" linked-list ">
        {% if linked_list.head %}
            {% set current = linked_list.head %}
            <div class="node2">{{ current.data }}</div>
            {% for _ in range(linked_list.size - 1) %}
                {% set current = current.next %}
                {% if current %}
                    <div class="arrow">
                        <div class="node2">{{ current.data }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <!-- ------------------------------------------------------------------- visualizing the linked list ------------------------------------------------------------------- -->
    <div class="center backGround" id = "blue-div">
        
    </div>

    
    <!-- ------------------------------------------------------------------- linked list functions ------------------------------------------------------------------- -->

        <div class="bst-functions">
            <p>
            <form class ="array-size" method="POST" action="{{ url_for('linked_list_visualizer') }}">
                <!-- first pop up -->
                {% with messages = get_flashed_messages(category_filter='min_heap_array') %}
                {% if messages %}
                min Heap Array :  
                <p></p>
                <p></p>
                <div class="flash-messages array">
                    {% for message in messages %}
                    <span> {{ message }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </form>
            </p>
            <p></p>
            <p></p>
            <div method="POST" >
                min Heap Functions:
            </div>
            <p></p>
            <p></p>
            <form method="POST" action="{{ url_for('linked_list_visualizer') }}">
                <label for="add-node">Insert(</label>
                <input type="text" id="Insert-node" name="node_value" required autocomplete="off">
                <label for="add-node">)</label>
                <button type="submit" name="action" value="Insert">Insert Node</button>
            </form>
            </p>
            <p>
            <form method="POST" action="{{ url_for('linked_list_visualizer') }}">
                <label for="Delete-node">Delete(</label>
                <input type="text" id="Delete-node" name="node_value" required autocomplete="off">
                <label for="Delete-node">)</label>
                <button type="submit" name="action" value="Delete">Delete Node</button>
            </form>
            </p>

            <p>
                <form method="POST" action="{{ url_for('linked_list_visualizer') }}">
                    <label for="find-parent-node">FindParent(</label>
                    <input type="text" id="find-parent-node" name="node_value" required autocomplete="off">
                    <label for="find-parent-node">)</label>
                    <button type="submit" name="action" value="find-parent">FindParent Node</button>
                </form>
            </p>

            <p>
                <form method="POST" action="{{ url_for('linked_list_visualizer') }}">
                    <label for="FindLeftchild">FindLeftchild(</label>
                    <input type="text" id="FindLeftchild" name="node_value" required autocomplete="off">
                    <label for="FindLeftchild">)</label>
                    <button type="submit" name="action" value="FindLeftchild">FindLeftchild Node</button>
                </form>
            </p>

            <p>
                <form method="POST" action="{{ url_for('linked_list_visualizer') }}">
                    <label for="FindRightchild">FindRightchild(</label>
                    <input type="text" id="FindRightchild" name="node_value" required autocomplete="off">
                    <label for="FindRightchild">)</label>
                    <button type="submit" name="action" value="FindRightchild">FindRightchild Node</button>
                </form>
            </p>

            <!-- second  pop up message box --> 
            
        </div>
        <div class ="inestructions bst-functions"> 
        {% with messages = get_flashed_messages( category_filter='inst') %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        </div>
</body>
    
    
</html>
