<!DOCTYPE html>
<html>
    <!-- Head -->
<head>
    <title>Linked List Visualization</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>


<body class= "body2">
    <!-- ------------------------------------------------------------------- header ------------------------------------------------------------------- -->
    <div class="bst-text">Linked List Visualization</div>
    

    <!-- ------------------------------------------------------------------- visualizing the linked list ------------------------------------------------------------------- -->
    <div class="" id = "blue-div">
        
    
    <div class="center2">
        <!-- display recrusive function  -->
        {% block content %}
            {% macro display_linked_list(node, top, left) %}
                
                        <div class="node2" style="top: {{ top }}px; left: {{ left }}px;">
                            {{ node.data }}
                        </div>
                        <div class="pointer1" style="top: {{ top }}px; left: {{ left + 50}}px;"></div>
                        {% if node.next %}
                            <div class="arrow">
                                <div class="line"></div>
                                <div class="point"></div>
                            </div>
                            {% set chield_left = left + 120 %}
                            {% set chield_top = top %}
                            {{ display_linked_list(node.next, chield_top, chield_left) }}
                        {% endif %}
                
            {% endmacro %}
        <!-- Main  -->
            
            {% set top = -400 %}
            {% set left = 200 %}
            {{ display_linked_list(linked_list.head, top, left) }}
            
        {% endblock %}
        </div>
        
    </div>

    
    <!-- ------------------------------------------------------------------- linked list functions ------------------------------------------------------------------- -->
    <div class="bst-functions">
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            bst-functions
            <button type="submit" name="action" value="Original">Show Original</button>
        </form>
        </p>
        <form method="POST" action="{{ url_for('visualize_tree') }}">
            <label for="add-node">Add(</label>
            <input type="text" id="add-node" name="node_value" required autocomplete="off">
            <label for="add-node">)</label>
            <button type="submit" name="action" value="add">Add Node</button>
        </form>
    </div>
        
</body>
    
    
</html>
